body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


/* Navbar Stilleri */
.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; /* Navbar yazı tipi */
}

.navbar-brand {
    color: #333;
    font-size: 25px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif; /* Navbar brand yazı tipi */
}

.navbar-nav {
    margin-left: auto;
    font-family: 'Montserrat', sans-serif; /* Navbar öğelerinin yazı tipi */
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Navbar linklerinin yazı tipi */
}

    .nav-link:hover {
        color: #1e90ff;
    }




.search-container {
    background: #fff;
    border-radius: 30px;
    padding: 10px 20px; /* Daha az padding */
    margin-bottom: 15px; /* Daha az alt boşluk */
}


input[type="text"] {
    width: 70%; /* Genişlik ayarı */
    border: 2px solid #ccc; /* Kenarlık stillemesi */
    border-radius: 30px; /* Yuvarlak köşe */
}

button.search-button {
    border-radius: 30px; /* Yuvarlak köşe butonu */
    padding: 0.375rem 0.75rem; /* Padding ayarı */
}

form.form-inline {
    display: flex; /* İçerikleri yan yana hizalar */
    align-items: center; /* İçerikleri ortalar */
}



/* Her bir filtreleme butonuna özel renkler */
.filter-button_0 {
    background-color: #ff6347;
    color: #fff;
    border: none;
    margin-left: -69px;
    width: 40px;
    height: 30px; /* margin-left butonları sıkıştırarak hepsini searchboxla aynı hizaya getirir.*/
}

.filter-button_1 {
    background-color: #ffa500;
    color: #fff;
    border: none;
    width: 40px;
    height: 30px;
}

.filter-button_2 {
    background-color: #ffd700;
    color: #fff;
    border: none;
    width: 40px;
    height: 30px;
}

.filter-button_3 {
    background-color: #90ee90;
    color: #fff;
    border: none;
    width: 40px;
    height: 30px;
}

.filter-button_4 {
    background-color: #87ceeb;
    color: #fff;
    border: none;
    width: 40px;
    height: 30px;
}



    /* Buton hover durumunda çerçevesini kaldırma */
    .filter-button_0:hover,
    .filter-button_1:hover,
    .filter-button_2:hover,
    .filter-button_3:hover,
    .filter-button_4:hover,
    .filter-button_0:focus,
    .filter-button_1:focus,
    .filter-button_2:focus,
    .filter-button_3:focus,
    .filter-button_4:focus {
        opacity: 0.7;
        border: 2px solid transparent;
    }

/* Filtreleme butonlarının stilleri */
.filter-buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px; /* Alt kısmında boşluk bırakmak için margin-bottom ekledik */
    height: 50px; /* Sabit bir yükseklik belirleyerek hover durumunda boyut değişimini engelliyoruz */
}


/* Feed içeriği */
.container {
    margin-top: 4rem;
}

.card {
    width: 70%; /* Örnek bir genişlik, istediğiniz değere göre ayarlayabilirsiniz */
    margin: auto; /* Card'ı sayfanın tam ortasına hizalamak için */
    min-height: 200px; /* Örnek bir minimum yükseklik, istediğiniz değere göre ayarlayabilirsiniz */
    background-color: #fff; /* Card'ın arka plan rengi */
    border-radius: 10px; /* Card'ın kenar yuvarlatma miktarı */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card'ın gölgesi */
    padding: 20px; /* İçerik ile card kenarı arasındaki boşluk */
    margin-bottom: 20px; /* Her card arasındaki boşluk */
}

    .card .btn-primary {
        float: right;
    }



#profilePictureContainer {
    width: 150px; /* İstediğiniz boyuta göre ayarlayın */
    height: 150px; /* İstediğiniz boyuta göre ayarlayın */
    overflow: hidden;
    border-radius: 50%; /* Yuvarlak çerçeve oluşturur */
    margin: 0 auto; /* Ortalamak için */
    border: 3px solid #ccc; /* Çerçeve kenar kalınlığı ve rengi */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Hafif bir gölgelendirme ekler */
}


.previous-posts {
    text-align: center;
}

.post-frame {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the frame */
}

/* Add CSS for profile and post images */
#profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi çerçevenin tamamını kaplayacak şekilde ayarlar */
}

#postPicture {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Adjust the maximum height as needed */
}




/* Add CSS for the about me section */
.about-me {
    margin-top: 30px; /* Adjust spacing as needed */
}

/* Add border frame to post pictures */
#postPictureContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px; /* Adjust padding as needed */
    margin-bottom: 15px;
    display: inline-block; /* Ensure the container size fits the image */
}

/* Post çerçeveleri arasında boşluk bırak */
.post-frame {
    margin-bottom: 20px; /* Postlar arasındaki boşluğu ayarlayın */
}

#profilePictureonPostContainer {
    width: 150px; /* You can adjust this size as needed */
    height: 150px; /* You can adjust this size as needed */
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    border: 3px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    display: flex; /* Use flexbox to center content vertically and horizontally */
}

#profilePictureonPost {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmi çerçevenin tamamını kaplayacak şekilde ayarlar */
}

.category-info {
    display: flex;
    align-items: center;
}

    .category-info ul {
        display: flex;
        padding-left: 0;
        list-style: none;
        margin: 0;
    }

    .category-info li {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    .category-info .badge {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
    }


