/* styles.css */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}



.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.montserrat-hey {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h4 {
    font-size: 1rem; /* İstenilen boyutu px, em veya rem olarak ayarlayabilirsiniz */
}

.form-group {
    margin-bottom: 6px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto; /* Form elemanlarını ortala */
}

button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; /* Butonları ortala */
}

    button:hover {
        background-color: #0056b3;
    }

.error-message {
    color: red;
    text-align: center;
}

.container {
    padding: 20px;
}

.logo {
    width: 100px;
}

.welcome-text {
    margin-left: auto;
    margin-right: auto;
}

#loginButton,
#registerButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-link:hover {
    color: red;
    background-color: transparent;
}

.modal-header .close {
    font-size: 2rem;
    width: auto;
    height: auto;
}

.transparent-button {
    background-color: transparent;
    color: #28a745; /* Buton rengini istediğiniz yeşil renk tonuyla değiştirebilirsiniz */
    border: 2px solid #28a745; /* İstenilen yeşil rengin tonuna uygun bir çerçeve rengi */
}

    .transparent-button:hover {
        background-color: #28a745; /* Hover (üzerine gelindiğinde) rengi */
        color: #fff; /* Hover durumunda metin rengi */
    }

/* _Layout.css */

/* Genel font ayarları */
body {
    font-family: 'Montserrat', sans-serif; /* Genel yazı tipi */
}

/* Navbar Stilleri */
.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; /* Navbar yazı tipi */
}

.navbar-brand {
    color: #333;
    font-size: 25px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif; /* Navbar brand yazı tipi */
}

.navbar-nav {
    margin-left: auto;
    font-family: 'Montserrat', sans-serif; /* Navbar öğelerinin yazı tipi */
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Navbar linklerinin yazı tipi */
}

    .nav-link:hover {
        color: #1e90ff;
    }

/* Footer Stilleri */
.footer {
    padding: 10px 0; /* Footer yüksekliğini azaltmak için padding küçültüldü */
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    font-family: 'Montserrat', sans-serif; /* Footer yazı tipi */
    font-size: 0.875rem; /* Yazı boyutunu küçültme */
    text-align: center; /* Metin ortalama */
}

    .footer a {
        color: #6c757d;
        font-family: 'Montserrat', sans-serif; /* Footer linklerinin yazı tipi */
    }

        .footer a:hover {
            color: #007bff;
        }

.btn-customdonate {
    background-color: #ADFF2F; /* İstediğiniz rengi buraya ekleyin */
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #50C878; /* Hover efekti için farklı bir renk */
}

input-group-append{
    padding-right: 10px;
}

.btn-block {
    width: 100%;
}

.btn-outline-secondary {
    display: flex;
    align-items: center;
    height: 100%; /* Add this line to make the button height match the input */
}

.transparent-button {
    background-color: transparent;
    color: #28a745;
    border: 2px solid #28a745;
}

    .transparent-button:hover {
        background-color: #28a745;
        color: #fff;
    }

