@model Binel.Models.Post
@{
    Layout = "_Layout1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/post_styles.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="display-4">@Model.Title</h1>
        <p class="lead">@Model.PostText</p>

        <div class="row">
            @foreach (var file in Model.Files)
            {
                <div class="col-md-4">
                    <img src="@file.FileUrl1" alt="Media" class="img-fluid rounded mb-3" />
                </div>
            }
        </div>
    </div>

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
